<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        BETTING INFORMATION
      </mat-panel-title>
      <mat-panel-description>
        HOME TEAM: {{game.teams[0].teamName}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-container *ngFor="let rate of rates; let i = index">

      <p *ngIf="rate.teamIdExternal;then teamRate else drawRate">

      </p>
      <ng-template #teamRate>
        {{game.teams[i].teamName}}: {{rate.rate}}<br>
      </ng-template>

      <ng-template #drawRate>
        draw rate: {{rate.rate}}
      </ng-template>


      <br>
      <ng-content></ng-content>
    </ng-container>
  </mat-expansion-panel>

</mat-accordion>
