<br>
<mat-tab-group>
  <mat-tab label="Games list">
    <app-game-list></app-game-list>
  </mat-tab>
 <!-- <mat-tab label="Admin panel">
    CONTROLS BELOW MUST BE REMOVED IN PRODUCTION, IT EXISTS ONLY TO TEST/DEMO. THIS FUNCTIONALITY MUST BE MIGRATED TO
    THE
    ISOLATED BACKEND SERVICE.

    <br><br>

    REAL DATA:
    <app-add-team></app-add-team>
    <app-add-game></app-add-game>
  </mat-tab>-->

  <mat-tab label="My bets">
    <app-bet-list></app-bet-list>
  </mat-tab>
  <mat-tab label="Help">
    INFO
  </mat-tab>
  <mat-tab label="Contact">
    Contacts
  </mat-tab>
</mat-tab-group>





