<app-filter [filterName]="'Filter games:'"
            (findEvent)=" filterData=$event; filterGamesList()"
            (resetEvent)="games=[]"></app-filter>

<br>
<ng-container *ngFor="let game of games">
  <app-game-details [game]="game"></app-game-details>

</ng-container>
<p *ngIf="games">
  <!-- [length]="games.length"-->
  <mat-paginator [length]="100"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 (page)="pageChanged($event)">
  </mat-paginator>

</p>


