<app-filter [filterName]="'Filter games:'"
            (findEvent)=" filterData=$event; filterGamesList()"
            (resetEvent)="games=[]"></app-filter>


<mat-card *ngFor="let game of games">
  <mat-card-subtitle>

  </mat-card-subtitle>
  <mat-card-title>

  </mat-card-title>
  <mat-card-content>
    <app-game-details [game]="game"></app-game-details>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="openDialog(game)">Make bet</button>
  </mat-card-actions>


  <mat-card-footer>
    <!--<mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
  </mat-card-footer>
</mat-card>
<p *ngIf="games">
  <!-- [length]="games.length"-->
  <mat-paginator [length]="100"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 (page)="pageChanged($event)">
  </mat-paginator>

</p>


