<mat-accordion>

  <mat-expansion-panel (opened)="panelOpened()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span > HOME TEAM: {{game.teams[0].teamName}}</span>
      </mat-panel-title>
      <mat-panel-description>
        <img md-fab-image [src]="game.teams[0].iconUrl || ''" [alt]="game.teams[0].teamName || ''" width="50"
             height="50" >
        VS
        <img md-fab-image [src]="game.teams[1].iconUrl || ''" [alt]="game.teams[1].teamName || ''" width="50"
             height="50" >
      </mat-panel-description>
      <span >
      {{game.startDate | date:'yyyy-MM-dd HH:mm a'}}
      </span>
      <br>
    </mat-expansion-panel-header>

    <mat-grid-list cols="5" rowHeight="100px">

      <mat-grid-tile
        [colspan]="5"
        [rowspan]="2"
        [style.background]="'#e3daff'">
        <button mat-raised-button color="warn" class="center" (click)="openDialog(game)">Make bet</button>
        <span id="chart-{{game.externalId}}"></span>
        <img src="/assets/draw_bet.jpg" class="center" matTooltip="Draw bets allowed" *ngIf="game.allowDrawBets"
             width="100"
             height="100">
        <img src="/assets/cancel.png" class="center" matTooltip="Game was refunded"
             width="100"
             height="100">
        <img src="/assets/paid.png" class="center" matTooltip="Game was paid"
             width="100"
             height="100">
      </mat-grid-tile>
    </mat-grid-list>


  </mat-expansion-panel>


</mat-accordion>
